{{ define "main" }}

<h1>Sobre mi</h1>

Hola! Soy alebozek y este es mi blog. La idea principal detrás de este blog es tener un espacio de expresión personal donde organizar ideas, crear guías y expresar alguna que otra vivencia tanto en la red como en la vida personal. <a href="/about/">(leer mas)</a>
<br/>


<h1>Últimos posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Últimas fotos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/pics" }}
    {{ range first 3 (sort .Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "800x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}